/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.featureSvg {
  height: 250px;
  width: 250px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.heroContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 80px 10%;
  color: #fff;
}

.heroText h1 {
  font-size: 60px;
  line-height: 1.2;
  margin: 0;
}

.highlight {
  color: var(--ifm-color-secondary);
}

.buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn {
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.start-btn {
  background-color: #3cd3ad;
  color: #000;
}

.demo-btn {
  background-color: #5e95f5;
  color: #000;
}

.stars {
  display: flex;
  align-items: center;
  font-size: 1rem;
  background: #40414f;
  padding: 8px 12px;
  border-radius: 6px;
}

.star-count {
  margin-left: 8px;
  font-weight: bold;
}

.codeImage img {
  width: 180px;
}

.subtitleConfig {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 3.2rem;
}